<launch>

    <arg name="name" default = "turtle"/> <node pkg="turtlesim" type="turtlesim_node" name="$(arg name)"></node>

    <node pkg="robot_pkg" type = "spawn.py" name = "spawn" respawn="false" output = "screen"></node>

    <node pkg = "robot_pkg" type = "goal.py" name = "move_turtle" respawn="false" output = "screen"></node>

</launch>