<launch>

    <arg name="name" default = "turtle"/> <node pkg="turtlesim" type="turtlesim_node" name="$(arg name)"></node>

    <node pkg="robot_pkg" type = "spawn.py" name = "spawn" respawn="false" output = "screen"></node>

    <node pkg = "robot_pkg" type = "sweep.py" name = "random_motion_with_wall_avoidance" respawn="false" output = "screen"></node>

</launch>